/*
 * Gnt API Docs!
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Chapter;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class TextsApi {
    private ApiClient apiClient;

    public TextsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public TextsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getChapter
     * @param book book name Id (required)
     * @param chapter Chapter number (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getChapterCall(String book, Integer chapter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v1/texts/chapter/{book}/{chapter}"
            .replaceAll("\\{" + "book" + "\\}", apiClient.escapeString(book.toString()))
            .replaceAll("\\{" + "chapter" + "\\}", apiClient.escapeString(chapter.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getChapterValidateBeforeCall(String book, Integer chapter, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'book' is set
        if (book == null) {
            throw new ApiException("Missing the required parameter 'book' when calling getChapter(Async)");
        }
        
        // verify the required parameter 'chapter' is set
        if (chapter == null) {
            throw new ApiException("Missing the required parameter 'chapter' when calling getChapter(Async)");
        }
        

        com.squareup.okhttp.Call call = getChapterCall(book, chapter, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get text of a chapter
     * Returns all verses related to a chapter!
     * @param book book name Id (required)
     * @param chapter Chapter number (required)
     * @return Chapter
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Chapter getChapter(String book, Integer chapter) throws ApiException {
        ApiResponse<Chapter> resp = getChapterWithHttpInfo(book, chapter);
        return resp.getData();
    }

    /**
     * Get text of a chapter
     * Returns all verses related to a chapter!
     * @param book book name Id (required)
     * @param chapter Chapter number (required)
     * @return ApiResponse&lt;Chapter&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Chapter> getChapterWithHttpInfo(String book, Integer chapter) throws ApiException {
        com.squareup.okhttp.Call call = getChapterValidateBeforeCall(book, chapter, null, null);
        Type localVarReturnType = new TypeToken<Chapter>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get text of a chapter (asynchronously)
     * Returns all verses related to a chapter!
     * @param book book name Id (required)
     * @param chapter Chapter number (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getChapterAsync(String book, Integer chapter, final ApiCallback<Chapter> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getChapterValidateBeforeCall(book, chapter, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Chapter>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
