<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- <classPathEntry location="/Users/i2dev/Tools/mysql-connector-java-5.1.45/mysql-connector-java-5.1.45-bin.jar" />-->
    <classPathEntry location="F:\\Tools\\mysql-connector-java-5.1.45\\mysql-connector-java-5.1.45-bin.jar" />
    
<!--     <classPathEntry location="/home/i2user/deploy-service/DanTest3/cible-service/lib/mysql-connector-java-5.1.22.jar" /> -->
    <context id="CibleTables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/gnt"
                        userId="i2dev" password="i2test">
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
   
        <!--  in command line environment  -->
        <javaModelGenerator targetPackage="org.bls.gnt.db.model" targetProject="D:\Greek\Code\bls\nexus\src\main\java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>
    
        <sqlMapGenerator targetPackage="org.bls.gnt.db.xml"  targetProject="D:\Greek\Code\bls\nexus\src\main\java">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>
    
        <javaClientGenerator type="XMLMAPPER" targetPackage="org.bls.gnt.db.mapper"  targetProject="D:\Greek\Code\bls\nexus\src\main\java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>


        <!--  in eclipse environment    
       <javaModelGenerator targetPackage="org.bls.gnt.db.model" targetProject="gnt/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="org.bls.gnt.db.xml" targetProject="gnt/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="org.bls.gnt.db.mapper"
                             targetProject="nexus/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
      -->

       <table schema="gnt" tableName="gnt_book" domainObjectName="GntBook">
        <generatedKey column="id" sqlStatement="MySql" identity="true" />
        </table>
        <table schema="gnt" tableName="gnt_word" domainObjectName="GntWord">
        <generatedKey column="id" sqlStatement="MySql" identity="true" />   
        </table>
    </context>
</generatorConfiguration>
